<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />

<body>
<header>
    <th:block th:include="~{fragments/header}" />
</header>
<main>
    <div class="text-center mb-3">
        <h4 class="text-white mt-2">Welcome to the arena, [[${session.user.username}]]</h4>
    </div>
    <hr class="my-3"/>
    <div class="container">
        <div class="text-center">
            <th:block th:if="${session.user.getHeroName() == null}">
            <h2>User, you don't have a hero. Click below and create one.</h2>
            <a href="/heroes/create" class="btn btn-secondary">Create hero</a>
            </th:block>
            <th:block th:unless="${session.user.getHeroName() == null}">
                <h2>User, you have a hero. Buy items to make your hero stronger and latter join the battle</h2>
            </th:block>
        </div>

    </div>
</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
